<?xml version="1.0" encoding="UTF-8" ?>
<Configuration>
    <Appenders>
        <File name="compilation" fileName="log/${sys:moFilename}.log" append="false" createOnDemand="true">
            <PatternLayout pattern="%-5p %d{yyyy-MM-dd HH:mm:ss} [%t] %c{1}:%L - %m%n"/>
        </File>
        <File name="file" fileName="log/alifec.log" append="false">
            <PatternLayout pattern="%-5p %d{yyyy-MM-dd HH:mm:ss} [%t] %c{1}:%L - %m%n"/>
        </File>
        <Console name="stdout" target="SYSTEM_OUT">
            <PatternLayout pattern="%-5p %d{HH:mm:ss} %c{1}:%L - %m%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="alifec.mo.compilation" level="ALL" additivity="false">
            <AppenderRef ref="compilation"/>
        </Logger>
        <Logger name="alifec" level="TRACE"/>
        <Root level="INFO">
            <AppenderRef ref="stdout"/>
            <AppenderRef ref="file"/>
        </Root>
    </Loggers>
</Configuration>